body {
    font-family: 'Poppins', sans-serif;
    margin: 10%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: green;
}

#left-border {
    border-left: 4px solid;
    border-image: linear-gradient(red, red);
    border-image-slice: 1;
    line-height: 35px;
}

.flexible-content {
    display: flex;
    padding: 10px;
    
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 70%;
    
}

.button-decoration {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    line-height: 70px;
}

.sec-part-heading{
    text-align: center;
}
span{
    color: blue;
}

.mission{
    width: 30%;
    border-radius: 10px;
    background-color: rgb(196, 195, 241);
    padding: 20px 20px 20px 20px;
    margin: 10px;
}
.mission-vission-goals-image img{
    width: 40%;
}
.vission{
    width: 30%;
    border-radius: 10px;
    background-color: rgb(202, 231, 185);
    padding: 20px 20px 20px 20px;
    margin: 10px;

}
.goals{
    width: 30%;
    border-radius: 10px;
    background-color: rgb(235, 191, 216);
    padding: 20px 20px 20px 20px;
    margin: 10px;

}
